/* Container for the entire layout */
.destinations-container {
  max-width:80vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content:center; /* Align the containers to the left */
  align-items: flex-start; /* Align content to the top */
  padding: 20px;
/* Full viewport height */
}

/* Styles for the question text */
.question-container {
  width: 40%;
  text-align: left;

}

.question-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

/* Styles for the descriptive text */
.description-container {
  width: 50%;
  text-align: left;
}

.description-container p {
  font-size: 1.25rem;
  color: #666;
  line-height: 1.6;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .destinations-container {
    flex-direction: column;
    align-items: flex-start; /* Keep text aligned to the left */
    height: auto; /* Allow height to adjust on smaller screens */
  }

  .question-container, 
  .description-container {
    width: 100%;
    padding: 10px;
  }

  .question-container h1 {
    font-size: 2rem;
  }

  .description-container p {
    font-size: 1rem;
  }
}
